<%
  # Copyright (C) 2022 Formez PA
  # This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.
  # This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  # You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

  # Partial con il button CIE
%>

<%
  available_values = [:s, :m, :l, :xl]
  size = :m if local_assigns[:size].nil? || !available_values.include?(local_assigns[:size])
  url = local_assigns[:url].present? ? local_assigns[:url] : decidim.cie_login_path(sso: { idp: 'idp_key' })
  method = local_assigns[:method].present? ? local_assigns[:method] : :get
  origin = local_assigns[:origin].present? ? local_assigns[:origin] : ''
%>
<div class="text-center">
  <div class="cie-container">
    <% Decidim::Cie::Idp.all.each do |k, p| %>
      <div data-idp="<%= k %>" data-url="">
        <%= form_tag url, method: method do %>
          <%= image_pack_tag "media/images/entra_con_cie.svg", alt: "CIE Login", class: "cie-italia-it-button cie-italia-it-button-size-#{size} button-cie" %>
          <%= hidden_field_tag "sso[idp]", k %>
          <%= hidden_field_tag "sso[origin]", origin %>
          <%= submit_tag "Submit" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag "decidim_cie" %>