<%
  # Copyright (C) 2022 Formez PA
  # This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.
  # This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  # You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>
%>

<%
  available_values = [:s, :m, :l, :xl]
  size = :m if local_assigns[:size].nil? || !available_values.include?(local_assigns[:size])
  url = local_assigns[:url].present? ? local_assigns[:url] : decidim.spid_login_path(sso: { idp: 'idp_key' })
  method = local_assigns[:method].present? ? local_assigns[:method] : :get
  origin = local_assigns[:origin].present? ? local_assigns[:origin] : ''
%>
<div class="spid-selector-container">
  <div class="spid-selector">
    <a href="javascript: void(0);" class="italia-it-button italia-it-button-size-<%= size %> button-spid">
      <span class="italia-it-button-icon">
        <%= image_pack_tag 'media/images/spid-ico-circle-bb.svg', onerror: "this.src='spid-ico-circle-bb.png'; this.onerror=null;", alt: "Spid Login" %>
      </span>
      <span class="italia-it-button-text">Entra con SPID</span>
    </a>
    <div class="spid-question-mark">?</div>
    <div class="spid-alert">
      <%= I18n.t('decidim.spid.spid.info_message') %>
      <hr/>
      <div class="spid-disclaimer">
        <%= I18n.t('decidim.spid.spid.disclaimer') %>
        <div>
          <%= link_to I18n.t('decidim.spid.spid.link'), 'http://www.spid.gov.it/', target: '_blank' %>
        </div>
      </div>
      <%= image_pack_tag 'media/images/spid-agid-logo-lb.svg', alt: "Logo AGID" %>
    </div>
    <div class="spid-container">
      <% Decidim::Spid::Idp.all.each do |k, p| %>
        <div data-idp="<%= k %>" data-url="">
          <%= form_tag url, method: method do %>
            <%= image_pack_tag "media/images/#{p['logo']}", alt: "#{p['entityName']} Login" %>
            <%= hidden_field_tag "sso[idp]", k %>
            <%= hidden_field_tag "sso[origin]", origin %>
            <%= submit_tag "Submit" %>
          <% end %>
        </div>
      <% end %>
      <div><a href="https://www.spid.gov.it/" target="_blank"><%= I18n.t('decidim.spid.spid.link') %></a></div>
      <div><a href="https://www.spid.gov.it/richiedi-spid" target="_blank"><%= I18n.t('decidim.spid.spid.request') %></a></div>
      <div><a href="https://www.spid.gov.it/serve-aiuto" target="_blank"><%= I18n.t('decidim.spid.spid.help') %></a></div>

    </div>

  </div>
  <%= javascript_pack_tag "decidim_spid" %>
</div>
